@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #333333;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav {
    flex: 1;
    padding-left: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.content h1 {
    font-size: 60px;
    font-weight: 24px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #1e8841;
}

.content h2 {
    font-size: 40px;
    font-weight: 24px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #1d5f33;
}

.content p {
    font-size: 35px;
    color: #ffffff;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd );
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}